<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><% app_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
          border-radius: 0 !important;  
        }

        .-margin-top-20 {
            margin-top: 20px;
        }

        .color-1 {
            background-color: #013243;
            color: rgb(245,245,245);
        }

        .red {
            color: #FF5252;
        }

        .green {
            color: #36D7B7;
        }

        .yellow {
            color: #E9D460;
        }

        .bullet {
            font-size: 34px;
        }
        
        .my-logo {
            margin-top: -35px;
            position: absolute;
            z-index: -99;
        }

        .rules {
            margin-right: 10px;
        }
    </style>
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>      
</head>
<body>
    <div class="container">
        <div class="row -margin-top-20">
            <div class="panel">
                <div class="panel-heading color-1">
                    <h4><i class="glyphicon glyphicon-file"></i> <% app_name %> Jekins Report</h4>
                </div>
            </div>
            <div class="panel-body">
                <!-- Overview -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4>
                            <i class="glyphicon glyphicon-stats green"></i>
                            &nbsp;Overview
                        </h4>
                        <canvas id="results"></canvas>
                    </div>
                </div>
                <!-- End of Overview section -->
                <!-- Rules Overview violated -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4>
                            <i class="glyphicon glyphicon-exclamation-sign red"></i>
                            &nbsp;Rules Violated:
                        </h4>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Rule name</th>
                                    <th>Severity</th>
                                    <th>Times occured</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% rules_violated %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End of rules violated section -->
                <!-- Lints -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4>
                            <i class="glyphicon glyphicon-remove-sign yellow"></i>&nbsp;
                            Lint Errors
                        </h4>
                        <ul class="list-group list-group-flush">
                            <% lint_errors %>
                        </ul>
                    </div>
                </div>
                <!-- End of lints -->
                <footer>
                    <p>Created by: <b>© onecompileman</b></p>
                    <img src="https://image.ibb.co/j5ZJcH/onecompileman_logo.jpg" 
                         alt="Onecompileman Logo" 
                         width="220"
                         class="my-logo">
                </footer>
            </div>
        </div>
    </div>
</body>
<!-- Scripts -->
<script>
    (function() {
        var ctx = document.querySelector('#results').getContext('2d');
        var data = {
            <% data_chart %>
        };
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data
        });
    })();
</script>
<!-- End of Scripts -->
</html>